.idea
.env
.bot.sqlite3

venv
media
media/photos
/keyboards/__pycache__/
/handlers/__pycache__/__init__.cpython-39.pyc/
/handlers/__pycache__/chat_actions.cpython-39.pyc/
/handlers/__pycache__/questionnaire.cpython-39.pyc/
/handlers/__pycache__/reference.cpython-39.pyc/
/handlers/__pycache__/registration.cpython-39.pyc/
/handlers/__pycache__/start.cpython-39.pyc/
/__pycache__/config.cpython-39.pyc/
/__pycache__/const.cpython-39.pyc/
handlers/__pycache__/profile.cpython-39.pyc/



